<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#saved">Saved Articles</a>
    </li>
  </ul>
</nav>
	<div class="jumbotron text-center bg-dark text-white" style="height:400px;">
	  <h1 class="display-4">ARTICLE SCRAPER</h1>
	  <hr class="my-4">
	  <h4>HUFFINGTON POST</h4>	
	</div>

	<div class="row" id="scrapedArticles"></div>

	<div class="row">
	  <div class="col-md-12">
	    <footer class="text-center p-3 mb-2 bg-info text-white">
	      <div class="container">
	        <p>&copy;Copyright2017 Cristina Zhang</p>
	      </div>
	    </footer>
	  </div>
	</div>

</body>
</html>