<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Article Scraper</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	<nav id="navbar-example2" class="navbar navbar-light bg-info text-white">
	  <a class="navbar-brand text-white" href="#">ARTICLE SCRAPER</a>
	  <ul class="nav nav-pills">
	    <li class="nav-item">
	      <a class="nav-link text-white" href="#home">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link text-white" href="#">Saved Articles</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link text-white" href="#">SCRAPE NEW ARTICLES</a>
	    </li>
	  </ul>
	</nav>

	<div class="jumbotron text-center bg-dark text-white" style="height:400px;">
	  <h1 class="display-4">ARTICLE SCRAPER</h1>
	  <hr class="my-4">
	  <h4>HUFFINGTON POST</h4>	
	</div>

	<div class="row" id="scrapedArticles"></div>

	<div class="row">
	  <div class="col-md-12">
	    <footer class="text-center p-3 mb-2 bg-info text-white">
	      <div class="container">
	        <p>&copy;Copyright2017 Cristina Zhang</p>
	      </div>
	    </footer>
	  </div>
	</div>

	<script src="../public/assets/javascript/home.js"></script>

</body>
</html>